
	
<div>
	
	<div style="border: solid 1px; padding: 8px;position:fixed;top:0px; width:100%;background-color:white;z-index:999">

		<a href ="/user/userhome" style="margin-left: 50px;margin-right:20px">Home</a>
		<a href ="/team" style="margin-right:20px">Team</a>

		<a href ="#" style="float:right; margin-right:20px">Log Out</a>
		

	</div>
	
	
	<a  href = "/user/userhome" style=""><img src="/imgs/logo.png" alt="Logo" style="position:fixed;top:1px;left:1px;height:34px;z-index:1000"></a>

	<div style="margin-left:2%;margin-right:10%;margin-top:20px;padding:20px">
		<p><strong><font size = "8">User Management/ Statistics</font></strong></p>
	</div>
	
	
	<div style="margin-left:5%;margin-right:10%;margin-top:20px;padding:20px;float:left" >
		<p><font size="6"><strong>Scorecard</strong></font></p>
		<div style="width:500px;height:400px;line-height:3em;overflow:auto;padding:5px;border: 1px solid black;;LINE-HEIGHT:20px"> 
		<ul >
			<li>
				<strong>Charity Name: </strong> United Way<br/>
				<div style="margin-left:15%"><strong>Total donation: </strong>$10.99</div>
			</li>
			<li>
				<strong>Charity Name: </strong> United Way<br/>
				<div style="margin-left:15%"><strong>Total donation: </strong>$10.99</div>
			</li>
			<li>
				<strong>Charity Name: </strong> United Way<br/>
				<div style="margin-left:15%"><strong>Total donation: </strong>$10.99</div>
			</li>
			<li>
				<strong>Charity Name: </strong> United Way<br/>
				<div style="margin-left:15%"><strong>Total donation: </strong>$10.99</div>
			</li>
			<li>
				<strong>Charity Name: </strong> United Way<br/>
				<div style="margin-left:15%"><strong>Total donation: </strong>$10.99</div>
			</li>
			<li>
				<strong>Charity Name: </strong> United Way<br/>
				<div style="margin-left:15%"><strong>Total donation: </strong>$10.99</div>
			</li>
			<li>
				<strong>Charity Name: </strong> United Way<br/>
				<div style="margin-left:15%"><strong>Total donation: </strong>$10.99</div>
			</li>
			<li>
				<strong>Charity Name: </strong> United Way<br/>
				<div style="margin-left:15%"><strong>Total donation: </strong>$10.99</div>
			</li>
			<li>
				<strong>Charity Name: </strong> United Way<br/>
				<div style="margin-left:15%"><strong>Total donation: </strong>$10.99</div>
			</li>
			<li>
				<strong>Charity Name: </strong> United Way<br/>
				<div style="margin-left:15%"><strong>Total donation: </strong>$10.99</div>
			</li>
			<li>
				<strong>Charity Name: </strong> United Way<br/>
				<div style="margin-left:15%"><strong>Total donation: </strong>$10.99</div>
			</li>
			<li>
				<strong>Charity Name: </strong> United Way<br/>
				<div style="margin-left:15%"><strong>Total donation: </strong>$10.99</div>
			</li>
			<li>
				<strong>Charity Name: </strong> United Way<br/>
				<div style="margin-left:15%"><strong>Total donation: </strong>$10.99</div>
			</li>
		</ul>
		</div>
	</div>
	
	
	
	<div style="margin-left:5%;margin-right:10%;margin-top:100px;padding:20px">
		<h4>Search in detail</h4>
		<form method="post" action="/admin/user">
			Charity Name: <input type="text" name="charity"> <br>
		<button>Search Charity</button>
		</form>
	</div>
	
	<div style="clear:both"></div>
	
	<div style="margin-left:5%;margin-right:10%;padding:20px;float:left">
		<p><font size="6"><strong>User List</strong></font></p>
		<div style="width:500px;height:400px;line-height:3em;overflow:auto;padding:5px;border: 1px solid black;;LINE-HEIGHT:20px"> 
		<ul >
			<li>
				<strong>Account Name: </strong> chetinglin<br/>
				<div style="margin-left:20%">
					<strong>First Name:</strong> Che-Ting<br/> 
					<strong>Last Name:</strong> Lin
					<strong>Email:</strong> chetinglin@umass.edu<br/>
					<strong>Total Money Donated: </strong> $10000000.00<br/>
				</div>
			</li>
			<li>
				<strong>Account Name: </strong> turkeygroup<br/>
				<div style="margin-left:20%">
					<strong>First Name:</strong> Group<br/> 
					<strong>Last Name:</strong> Turkey<br/> 
					<strong>Email:</strong> gTurkey@umass.edu<br/>
					<strong>Total Money Donated: </strong> $0.99<br/>
				</div>
			</li>
			<li>
				<strong>Account Name: </strong> turkeycheting<br/>
				<div style="margin-left:20%">
					<strong>First Name:</strong> Group<br/> 
					<strong>Last Name:</strong> Cheting<br/> 
					<strong>Email:</strong> gCheting@umass.edu<br/>
					<strong>Total Money Donated: </strong> $1.25<br/>
				</div>
			</li>
			<li>
				<strong>Account Name: </strong> lingroup<br/>
				<div style="margin-left:20%">
					<strong>First Name:</strong> Lin<br/> 
					<strong>Last Name:</strong> Turkey<br/> 
					<strong>Email:</strong> cTurkey@umass.edu<br/>
					<strong>Total Money Donated: </strong> $0.02<br/>
				</div>
			</li>
		</ul>
		</div>
		

	</div>
	
	<div style="margin-left:5%;margin-right:10%;margin-top:100px;padding:20px">
		<h4>Search in detail</h4>
		<form method="post" action="/admin/user">
			User Name: <input type="text" name="username"> <br>
			First Name:  <input type="text" name="fname"> <br>
			Last Name:  <input type="text" name="lname"> <br>
			Email:  <input type="text" name="email"> <br>
		<button>Search User(s)</button>
		</form>
	</div>

	<div style="clear:both"></div>
	
	<div style="margin-left:10%;margin-right:10%;margin-top:50px;padding:20px;">
		<span>© 2015 Glean</span>
	</div>

	
	

</div>
</div>
<table>
  <tr>
    <td>
      User ID
    </td>
    <td>
      Name
    </td>
    <td>
      Password
    </td>
    <td>
      Admin
    </td>
  </tr>
  {{#each list}}
    <tr>
      <td>
        {{id}}
      </td>
      <td>
        {{name}}
      </td>
      <td>
        {{pass}}
      </td>
      <td>
        {{admin}}
      </td>
    </tr>
  {{/each}}
</table>
