<!--
//  check_user_info.handlebars
//
//  Template for check_user_info page.
//
//  Confirms the information of the user for finding password.
//
-->

<div style="padding:50px">
    <h1>Forgot Password Page</h1>

    <div style = "background-color:red; color:black">{{message}}</div><br>

    <form method="post" action="/user/auth_forget">
      <div class="form-group has-success" style="border-radius:10px; border:2px padding:20px;width:300px" align='left'>
        <label for="user_name">Enter your User Name: </label><br>
        <input class="form-control" id="inputSuccess1" type = "text" name = "user_name"><br>
        <label for="email"> Enter your email address: </label><br>
        <input class="form-control" id="inputSuccess1" type = "text" name = "email"><br><br>
        <button class = "btn btn-success">Next</button>
      </div>
    </form>
</div>
