<div style="border: solid 1px; padding: 8px;position:fixed; width:100%;background-color:white">
  <a href ="/" style="margin-left: 50px;margin-right:20px">Home</a>
  <a href ="/team" style="margin-right:20px">Team</a>
  <a href ="/about" >About</a>
	<a href ="/login" style="float:right; margin-right:20px">Log in</a>
</div>
<a href = "/" style=""><img src="/imgs/logo.png" alt="Logo" style="position:fixed;top:1px;left:1px;height:34px"></a>

<div style="padding:50px">
  <h1>Forgot Password Page</h1>
  <div style = "background-color:red; color:black">{{message}}</div><br>
  <form method="post" action="/user/check_security">
    <label>User Name: {{n}}</label><br>
    <label>Security Question: {{security}}</label><br>
    Answer: <input type = 'text' name = 'answer'>
    <button>Submit</button>
  </form>
</div>
