<!--
//  forgotPassword.handlebars
//
//  Template for forgotPassword page.
//
//  ForgotPassword view is used to help user to find their passwords.
//
//  When user forget their passwords, they can go to forgot password
//  page and enter their information, and then the server find the password.
//
-->

<div style="padding:50px">
    <h1>Forgot Password Page</h1>
    <div style = "background-color:red; color:black">{{message}}</div><br>
    <form method="post" action="/user/check_security">
        <label>User Name: {{n}}</label><br>
        <label>Security Question: {{security}}</label><br>
        Answer: <input type = 'text' name = 'answer'>
        <button>Submit</button>
    </form>
</div>
