<!--
//  forgotPassword.handlebars
//
//  Template for forgotPassword page.
//
//  ForgotPassword view is used to help user to find their passwords.
//
//  When user forget their passwords, they can go to forgot password
//  page and enter their information, and then the server find the password.
//
-->

<link rel="stylesheet" type="text/css" href="/css/site.css"/>

<div style="padding:50px">
    <h1>Forgot Password Page</h1>
    <div style = "background-color:red; color:black">{{message}}</div><br>
    <form method="post" action="/user/check_security">
      <div class="form-group has-success" style="border-radius:10px; border:2px padding:20px;width:300px" align='left'>
        <label>User Name: </label><br>
        <h4><span class="label label-primary">{{n}}</span></h4>
        <label>Security Question: </label><br>
        <h4><span class="label label-info">{{security}}</span></h4>
        <label for='answer'>Answer: </label><br>
        <input class="form-control" id="inputSuccess1" type = 'text' name = 'answer'><br><br>
        <button class = "btn btn-success">Submit</button>
      </div>
    </form>
</div>
