<!--
//  home.handlebars
//
//  Template for homepage (public users).
//
//  Main landing page for users not logged into Glean.
//
//  This page is meant mostly for promotional purposes to
//  attract users to the service.
//
//  Currently, there is a description of the service, and navigation
//  for users to access an about page and a page to learn about the team.
//
-->

<link rel="stylesheet" type="text/css" href="/css/home.css"/>

<div class="jumbotron" id="splashCover">
  <div id="containerSplash">
    <h1>Glean</h1>
    <p>Make daily donations with your change.</p>
    <p><a class="btn btn-primary btn-md" id="signUpButton" href="/register" role="button">Begin Giving Back</a></p>
    <span class="glyphicon glyphicon-menu-down" id="arrowDown" aria-hidden="true"></span>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3.5 col-md-4  col-lg-4 blurb">
      <h2>Simple to Use</h2>
      <p>Glean makes it simple to turn your spare change into charitable donations.</p>
    </div>

    <div class="col-sm-3.5 col-md-4 col-lg-4 blurb">
      <h2>Make an Impact</h2>
      <p>Making donations to your charity of choice, Glean enables everyone to make a big impact.</p>
    </div>

    <div class="col-sm-3.5 col-md-4 col-lg-4 blurb">
      <h2>Start Using Glean</h2>
      <p>At Glean, your saftey and security is of the utmost importance.</p>
    </div>

  </div>
</div>

<div class="glance colorOne">
  <h2>Simple to Use</h2>
  <p>Glean, a change to charity program that will help you feel that little goodness, those warm fuzzies for putting your money to good use. You make a purchase, Glean rounds up the cost, subtracts the actual purchase from the cost, and that difference goes to a charity of your choice! Glean does this by integrating into your bank account and keeping track of the charges you make.</p>
</div>

<div class="glance colorTwo">
  <h2>Make an Impact</h2>
  <p>Every time you makes a purchase, the difference in change to the nearest dollar is donated to a charity of choice. Glean takes away the hassles of dealing with change when balancing checkbooks, and helps anyone with credit or debit cards easily give to charities in need. These microdonations add up overtime, and Glean will elegantly present donations accumulated to better help you see the impact you are making.</p>
</div>

<div class="glance colorThree">
  <h2>Start Using Glean</h2>
  <p>Glean can be used whenever you make a credit/debit card transation at your favorite retailer! For personal use, you can use Glean when doing everyday purchases, from shopping for groceries to taking the family out for dinner. For work, companies can have their employees use Glean while using their corporate cards, and your company can show off its philanthropic side. Glean is a versitile application in corporating all aspects of your life for charitable giving!</p>
</div>
