

<div style="padding-left:5%;padding-top: 20px;height:500px" >
<div style="border:2px solid; padding:20px;width:300px" align='center'>
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>

  <div style="color:red">{{message}}</div><br>

  <form method="post" action="/user/auth">
    <input type="text" name="name" placeholder="User Name" autocomplete="off"> <br><br>
    <input type="password" name="pass" placeholder="Password" autocomplete="off"> <br><br>
    <button>Login</button>
  </form>

  <br>
    <a href="/user/check_user_info">Forgot Password</a>
    </div>
</div>
