<div style="margin-left:5%; padding-top:20px">

    <h1>Sign Up</h1>
    <p>Please fill in all the information.</p>
    <div style="color:red">{{message}}</div><br>

    <form method="post" action="/adduser" style="width:230px">
        User Name: <br><input class="form-control" type="text" name="name">
        Password:  <br><input class="form-control" type="password" name="pass">
        Confirm Your Password:  <br><input class="form-control" type="password" name="cpass">
        Email: <br><input class="form-control" type="text" name="email">
        First Name: <br><input class="form-control" type="text" name="fname">
        Last Name: <br><input class="form-control" type="text" name="lname">
        Security Question: <br><input class="form-control" type="text" name="question">
        Answer: <br><input class="form-control" type="text" name="answer">

        <button class="btn btn-success">Sign Up</button>
    </form>

</div>

<style>
    input{
        margin-bottom: 5px;
    }
</style>