<div style="margin-left:5%; padding-top:20px">

<h1>Sign Up</h1>
<p>Please fill in all the information.</p>
<div style="color:red">{{message}}</div><br>


<form method="post" action="/adduser">
  User Name: <br><input type="text" name="name"> <br>
  Password:  <br><input type="password" name="pass"> <br>
  Confirm Your Password:  <br><input type="password" name="cpass"> <br>
  Email: <br><input type="text" name="email"> <br>
  First Name: <br><input type="text" name="fname"> <br>
  Last Name: <br><input type="text" name="lname"> <br>
  Security Question: <br><input type="text" name="question"> <br>
  Answer: <br><input type="text" name="answer"> <br><br>

  <button>Sign Up</button>
</form>

</div>